# Anova

Importing Library as follows

In [1]:
import pandas as pd

from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols

****Example 1****

Importing dataset form local host

In [2]:
agr = pd.read_csv("D:/Statistics (Python)/Datasets/Yield.csv")
agrYield = ols('Yield ~ Treatments', data=agr).fit()
table = anova_lm(agrYield, typ=2)
print(table)

                 sum_sq    df          F    PR(>F)
Treatments  1551.607762   3.0  18.293252  0.000006
Residual     565.457238  20.0        NaN       NaN

Post Hoc Tukey HSD

In [3]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

compare = pairwise_tukeyhsd(agr.Yield, agr.Treatments, alpha=0.05)
compare._results_table.data
compare.confint
compare.reject

dd = pd.DataFrame(compare._results_table.data[1:],
                  columns=compare._results_table.data[0])
dd

  group1 group2  meandiff   p-adj    lower    upper  reject
0      I     II   13.0976  0.0014   4.8174  21.3779    True
1      I    III   -0.6567  0.9000  -9.6689   8.3556   False
2      I     IV   18.1000  0.0010   9.5072  26.6928    True
3     II    III  -13.7543  0.0014 -22.4690  -5.0396    True
4     II     IV    5.0024  0.3546  -3.2779  13.2826   False
5    III     IV   18.7567  0.0010   9.7444  27.7689    True

***Example 2***

In [4]:
anorexia = pd.read_csv("D:/Statistics (Python)/Datasets/anorexia.csv")
anoPost = ols('Postwt ~ Treat', data=anorexia).fit()
table = anova_lm(anoPost, typ=2)
print(table)

               sum_sq    df         F    PR(>F)
Treat      918.986916   2.0  8.650628  0.000444
Residual  3665.057528  69.0       NaN       NaN

Post Hoc Tukey HSD

In [5]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

compare = pairwise_tukeyhsd(anorexia.Postwt, anorexia.Treat, alpha=0.05)
compare._results_table.data
compare.confint
compare.reject

dd = pd.DataFrame(compare._results_table.data[1:],
                  columns=compare._results_table.data[0])
dd

  group1 group2  meandiff   p-adj   lower    upper  reject
0    CBT   Cont   -4.5889  0.0581 -9.3038   0.1261   False
1    CBT     FT    4.7976  0.0865 -0.5350  10.1301   False
2   Cont     FT    9.3864  0.0010  3.9414  14.8315    True