Boolean Values

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Evaluate Values and Variables

In [2]:
print(bool("Hello"))
print(bool(15))

True
True

Most Values are True

In [4]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

Some Values are False

In [6]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool())
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

Functions can Return a Boolean

In [8]:
def myfunc():
    return True

print(myfunc())

True

In [9]:
def myfunc():
    return True

if myfunc():
    print("YES")
else:
    print("NO")

YES

Python operators

In [102]:
x = 5
x /= 3
print(x)

1.6666666666666667

In [103]:
x = 5
print(x>10 and x<3)

False

In [9]:
x = 5
print(x<4 or x<3)

False

In [13]:
x = 10
x = x%3
print(x)

1

In [14]:
x = 10
x = x//3
print(x)

3

In [15]:
x = 10
x = x&3
print(x)

2

In [16]:
x = 10
x = x|3
print(x)

11

In [25]:
x = 10
x = x^9
print(x)

3

In [29]:
x = 8
x = x>>5
print(x)

0

In [39]:
x = ["Sayali"]
y = ["Sayali"]
z = x
print(x is y)
print(x is z)
print(y == z)

False
True
True

In [42]:
x = ["Sayali"]
y = ["Sayali"]
z = x
print(x is not y)
print(x is not z) 
print(y != z)

True
False
False

Python List

In [14]:
x = ["apple","banana","cherry","orange"]
x[1] = "Ramphal","Cherry"
print(x)

['apple', ('Ramphal', 'Cherry'), 'cherry', 'orange']

In [18]:
x = ["apple","banana","cherry","orange"]
for y in x:
    print(y)

apple
banana
cherry
orange

In [29]:
x = ["apple","banana","cherry","orange"]
if "apple" in x:
    print("yes")

yes

In [30]:
x = ["apple","banana","cherry","orange"]
if "ramphal" in x:
    print("yes")
else:
    print("no")

no

In [31]:
x = ["apple","banana","cherry","orange"]
print(len(x))

4

In [32]:
x = ["apple","banana","cherry","orange"]
x.append("Ramphal")
print(x)

['apple', 'banana', 'cherry', 'orange', 'Ramphal']

In [33]:
x = ["apple","banana","cherry","orange"]
x.insert(1,"Ramphal")
print(x)

['apple', 'Ramphal', 'banana', 'cherry', 'orange']

In [34]:
x = ["apple","banana","cherry","orange"]
x.remove("cherry")
print(x)

['apple', 'banana', 'orange']

In [69]:
x = ["apple","banana","cherry","orange"]
x.pop()
print(x)

['apple', 'banana', 'cherry']

In [40]:
x = ["apple","banana","cherry","orange"]
del x[1]
print(x)

['apple', 'cherry', 'orange']

In [43]:
x = ["apple","banana","cherry","orange"]
del x
print(x)
#this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'x' is not defined

In [44]:
x = ["apple","banana","cherry","orange"]
x.clear()
print(x)

[]

In [46]:
x = ["apple","banana","cherry","orange"]
mylist = x.copy()
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [47]:
x = ["apple","banana","cherry","orange"]
y = list(x)
print(y)

['apple', 'banana', 'cherry', 'orange']

In [48]:
x = ["apple","banana"]
y = ["cherry","orange"]
z = x + y
print(z)

['apple', 'banana', 'cherry', 'orange']

In [50]:
a = ["apple","banana"]
b = ["cherry","orange"]
for x in b:
    a.append(x)
    
print(a)

['apple', 'banana', 'cherry', 'orange']

In [51]:
x = ["apple","banana"]
y = ["cherry","orange"]
x.extend(y)
print(x)

['apple', 'banana', 'cherry', 'orange']

In [52]:
x = list(("apple","cherry","banana"))
print(x)

['apple', 'cherry', 'banana']

Python Tuples

In [53]:
x = ("apple","banana","cherry","orange")
print(x)

('apple', 'banana', 'cherry', 'orange')

In [54]:
x = ("apple","banana","cherry","orange")
print(x[1])

banana

In [55]:
x = ("apple","banana","cherry","orange")
print(x[-1])

orange

In [58]:
x = ("apple","banana","cherry","orange")
print(x[-3:-1])

('banana', 'cherry')

In [62]:
x = ("apple" , "banana" , "cherry" , "orange")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry', 'orange')

In [65]:
a = ("apple","banana","cherry","orange")
for x in a:
    print(x)

apple
banana
cherry
orange

In [67]:
x = ("a",)
print(type(x))
y = ("a")
print(type(y))

<class 'tuple'>
<class 'str'>

In [68]:
x = tuple(("apple","cherry","banana"))
print(x)

('apple', 'cherry', 'banana')

Python Sets

In [76]:
x = {"apple","banana","cherry","orange"}
x.update(["Ramphal","Sitaphal"])
print(x)

{'orange', 'Sitaphal', 'cherry', 'Ramphal', 'apple', 'banana'}

In [78]:
x = {"a", "b", "c"}
y = x.pop()
print(y)
print(x)

c
{'a', 'b'}

In [83]:
x = {1,2,3}
y = {4,5,6}
z = x.union(y)
print(z)

{1, 2, 3, 4, 5, 6}

In [87]:
x = {1,2,3}
y = {4,5,6}
x.update(y)
print(x)

{1, 2, 3, 4, 5, 6}

In [88]:
x = set((1,2,3,4))
print(x)

{1, 2, 3, 4}

Python Dictionaries

In [93]:
thisdict =	{"brand": "Ford",
             "model": "Mustang",
             "year": 1964}
for x in thisdict:
    print(x)
    
thisdict =	{"brand": "Ford",
             "model": "Mustang",
             "year": 1964}
for x in thisdict:
    print(thisdict[x])

brand
model
year
Ford
Mustang
1964

In [96]:
thisdict =	{"brand": "Ford",
             "model": "Mustang",
             "year": 1964}
for x,y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 1964

In [97]:
thisdict =	{"brand": "Ford",
             "model": "Mustang",
             "year": 1964}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [98]:
thisdict =	{"brand": "Ford",
             "model": "Mustang",
             "year": 1964}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [101]:
thisdict =	{"brand": "Ford",
             "model": "Mustang",
             "year": 1964}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}