# Get the items of series A not present in series B and B not present in series A:

In [1]:
import pandas as pd

In [2]:
p1 = pd.Series([2, 4, 6, 8, 10])  
p2 = pd.Series([8, 10, 12, 14, 16])

In [3]:
p1[~p1.isin(p2)]

0    2
1    4
2    6
dtype: int64

In [4]:
p2[~p2.isin(p1)]

2    12
3    14
4    16
dtype: int64

# get the items not common to both series A and series B:

In [9]:
import pandas as pd
import numpy as np

In [10]:
p1 = pd.Series([2, 4, 6, 8, 10])
p2 = pd.Series([8, 10, 12, 14, 16])

In [11]:
p1[~p1.isin(p2)]

0    2
1    4
2    6
dtype: int64

In [16]:
p_u = pd.Series(np.union1d(p1, p2))  # union  
p_i = pd.Series(np.intersect1d(p1, p2))  # intersect

In [17]:
p_u[~p_u.isin(p_i)]

0     2
1     4
2     6
5    12
6    14
7    16
dtype: int64

# Get the minimum, 25th percentile, median, 75th, and max of a numeric series:

In [18]:
import pandas as pd
import numpy as np

In [20]:
p = pd.Series(np.random.normal(12, 6, 24))

In [21]:
state = np.random.RandomState(120)

In [22]:
p = pd.Series(state.normal(12, 6, 14))

In [23]:
np.percentile(p, q=[0, 25, 50, 75, 100])

array([ 4.08082479, 11.22913125, 13.65756425, 16.95956187, 25.86174146])

# Get frequency counts of unique items of a series:

In [24]:
import pandas as pd  
import numpy as np

In [43]:
p = pd.Series(np.take(list('pqrstu'), np.random.randint(6, size=17)))
p=pd.Series(np.take(list('pqrstu'), np.random.randint(6, size=17)))

In [44]:
p.value_counts()

t    6
s    4
u    3
q    2
r    1
p    1
dtype: int64

# Convert a numpy array to a dataframe of given shape:

In [45]:
import pandas as pd  
import numpy as np

In [51]:
p = pd.Series(np.random.randint(1, 7, 35))  
# Input  
p = pd.Series(np.random.randint(1, 7, 35))  
info = pd.DataFrame(p.values.reshape(7,5))  
print(info)

   0  1  2  3  4
0  4  6  1  1  5
1  5  5  1  1  2
2  5  1  5  3  5
3  5  4  5  4  5
4  1  5  6  5  6
5  6  1  5  6  3
6  5  5  3  5  4

# Convert a Series to DataFrame:

In [52]:
s = pd.Series(["a", "b", "c"],    
name="vals")    
s.to_frame()

  vals
0    a
1    b
2    c