# More Feactures of Pandas

Importing Library as follows

In [3]:
import pandas as pd
import numpy as np

Importing dataset form local host

In [4]:
job = pd.read_csv("C:/Users/Lenovo/Desktop/Datasets/data_set1/JobSalary.csv")

job = job.dropna()

 OR

In [5]:
job.dropna(inplace=True)

 Dropping the specific columns

In [6]:
job.drop(['Computer'],axis=1)

   S_No  Marketing  Engineer
0     1       55.0        75
1     2       53.0        70
4     5       41.0        89
5     6       54.0        85
7     8       64.0       105

 Detecting Null columns

In [7]:
null_columns=job.columns[job.isnull().any()]
null_columns

Index([], dtype='object')

 Number of missings in each column

In [ ]:
job[null_columns].isnull().sum()

 OR

In [8]:
np.sum(pd.isnull(job))

S_No         0
Computer     0
Marketing    0
Engineer     0
dtype: int64

 OR

In [9]:
job.isnull().sum()

S_No         0
Computer     0
Marketing    0
Engineer     0
dtype: int64

Total Null values in data

In [10]:
job[null_columns].isnull().sum().sum()

mu_comp = job['Computer'].mean()
job['a_comp'] = job['Computer'].fillna(mu_comp)
job

job['a_comp_ff'] = job['Computer'].ffill()
job

job['a_comp_ff'] = job['Computer'].bfill()
job

boston = pd.read_csv("F:/Datasets/Boston.csv")

 Column-wise mean

In [11]:
boston.apply(np.mean, axis=0)

crim         3.613524
zn          11.363636
indus       11.136779
chas         0.069170
nox          0.554695
rm           6.284634
age         68.574901
dis          3.795043
rad          9.549407
tax        408.237154
ptratio     18.455534
black      356.674032
lstat       12.653063
medv        22.532806
dtype: float64

 Column-wise std

In [12]:
boston.apply(np.std, axis=0)

crim         8.593041
zn          23.299396
indus        6.853571
chas         0.253743
nox          0.115763
rm           0.701923
age         28.121033
dis          2.103628
rad          8.698651
tax        168.370495
ptratio      2.162805
black       91.204607
lstat        7.134002
medv         9.188012
dtype: float64

 Row-wise mean

In [13]:
boston.apply(np.mean, axis=1)

quality = pd.read_csv("F:/Datasets/quality.csv")
qual_melt = pd.melt(quality, id_vars='Sno')

qual_pivot = pd.pivot_table(qual_melt, index='Sno',
                            columns='variable',values='value')

grp_by_var = qual_melt.groupby('variable')
grp_by_var['value'].mean()

variable
A    77.2
B    66.4
C    81.0
Name: value, dtype: float64

OR

In [14]:
qual_melt.groupby('variable')['value'].mean()

qual_melt.groupby('variable')['value'].std()

qual_melt.groupby('variable')['value'].describe()

diamonds = pd.read_csv("F:/Datasets/diamonds.csv")

pd.crosstab(index=diamonds['cut'],columns='count')
pd.crosstab(index=diamonds['color'],columns='count')

pd.crosstab(index=diamonds['cut'],columns=diamonds['color'])
pd.crosstab(index=diamonds['cut'],columns=diamonds['color'],margins=True)

color         D     E     F      G     H     I     J    All
cut
Fair        163   224   312    314   303   175   119   1610
Good        662   933   909    871   702   522   307   4906
Ideal      2834  3903  3826   4884  3115  2093   896  21551
Premium    1603  2337  2331   2924  2360  1428   808  13791
Very Good  1513  2400  2164   2299  1824  1204   678  12082
All        6775  9797  9542  11292  8304  5422  2808  53940

 Bucketizing the data

In [15]:
cct = pd.cut(boston["medv"], 3)
type(cct)
np.unique(cct,return_counts=True)
#OR
cct = pd.Series(cct)
cct.value_counts()

bins = pd.IntervalIndex.from_tuples([(4.9, 13), (13, 30), (30, 51)])
cct = pd.cut(boston["medv"], bins)
cct.value_counts()

(13.0, 30.0]    369
(30.0, 51.0]     84
(4.9, 13.0]      53
Name: medv, dtype: int64