# **pandas** Basics

1. Given is the dictionary object

In [1]:
wpa = {'North America':{'med_wpa':65022,'mean_wpa':391690,'adult_000':271933},
       'Europe':{'med_wpa':18153,'mean_wpa':144903,'adult_000':589373},
       'China':{'med_wpa':16333,'mean_wpa':47810,'adult_000':1085003},
       'Latin America':{'med_wpa':4372,'mean_wpa':18605,'adult_000':432919},
       'India':{'med_wpa':1289,'mean_wpa':7024,'adult_000':850210}
      }

In [2]:
wpa

{'North America': {'med_wpa': 65022, 'mean_wpa': 391690, 'adult_000': 271933},
 'Europe': {'med_wpa': 18153, 'mean_wpa': 144903, 'adult_000': 589373},
 'China': {'med_wpa': 16333, 'mean_wpa': 47810, 'adult_000': 1085003},
 'Latin America': {'med_wpa': 4372, 'mean_wpa': 18605, 'adult_000': 432919},
 'India': {'med_wpa': 1289, 'mean_wpa': 7024, 'adult_000': 850210}}

Create a **pandas** data frame object *wpa_df* from the above given dictionary object. Also display the view of the data frame

In [3]:
import pandas as pd
wpa_df=pd.DataFrame(wpa)
wpa_df

           North America  Europe    China  Latin America   India
med_wpa            65022   18153    16333           4372    1289
mean_wpa          391690  144903    47810          18605    7024
adult_000         271933  589373  1085003         432919  850210

2. Import the file *Cars93.csv* from the folder datasets into pandas data frame object  
a. store it in the object **cars_df**

In [4]:
wpa_df.shape

(3, 5)

In [5]:
wpa_df.head

<bound method NDFrame.head of            North America  Europe    China  Latin America   India
med_wpa            65022   18153    16333           4372    1289
mean_wpa          391690  144903    47810          18605    7024
adult_000         271933  589373  1085003         432919  850210>