# PreProcessor

Importing Library as follows

In [1]:
import pandas as pd

Importing dataset form local host and get dummy variables

In [2]:
cars = pd.read_csv("D:/Statistics (Python)/Datasets/Cars93.csv")

cars.head(n=10)
cars.set_index('Model',inplace=True)

dum_cars = pd.get_dummies(cars, drop_first=True)

dum_cars.head(n=10)

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,AirBags_None,DriveTrain_Front,DriveTrain_Rear,Cylinders_4,Cylinders_5,Cylinders_6,Cylinders_8,Cylinders_rotary,Man.trans.avail_Yes,Origin_non-USA
Model,,,,,,,,,,,,,,,,,,,,,
Integra,12.9,15.9,18.8,25,31,1.8,140,6300,2890,13.2,...,1,1,0,1,0,0,0,0,1,1
Legend,29.2,33.9,38.7,18,25,3.2,200,5500,2335,18.0,...,0,1,0,0,0,1,0,0,1,1
90,25.9,29.1,32.3,20,26,2.8,172,5500,2280,16.9,...,0,1,0,0,0,1,0,0,1,1
100,30.8,37.7,44.6,19,26,2.8,172,5500,2535,21.1,...,0,1,0,0,0,1,0,0,1,1
535i,23.7,30.0,36.2,22,30,3.5,208,5700,2545,21.1,...,0,0,1,1,0,0,0,0,1,1
Century,14.2,15.7,17.3,22,31,2.2,110,5200,2565,16.4,...,0,1,0,1,0,0,0,0,0,0
LeSabre,19.9,20.8,21.7,19,28,3.8,170,4800,1570,18.0,...,0,1,0,0,0,1,0,0,0,0
Roadmaster,22.6,23.7,24.9,16,25,5.7,180,4000,1320,23.0,...,0,0,1,0,0,1,0,0,0,0
Riviera,26.3,26.3,26.3,19,27,3.8,170,4800,1690,18.8,...,0,1,0,0,0,1,0,0,0,0
DeVille,33.0,34.7,36.3,16,25,4.9,200,4100,1510,18.0,...,0,1,0,0,0,0,1,0,0,0

Label Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder
lbcode = LabelEncoder()
y = ['a','b','a','a','c','a','b','b','a','c','a']
trny = lbcode.fit_transform(y)
print(trny)

[0 1 0 0 2 0 1 1 0 2 0]

Importing dataset form local host

In [5]:
carsMissing = pd.read_csv("D:/Statistics (Python)/Datasets/Cars93Missing.csv",index_col=1)

carsMissing.shape

carsDropNA = carsMissing.dropna()
carsDropNA.shape

(76, 25)

Dummying the data

In [6]:
dum_cars_miss = pd.get_dummies(carsMissing, drop_first=True)

In [7]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='mean')
carsImputed = imp.fit_transform(dum_cars_miss)

df_carsImputed = pd.DataFrame(carsImputed,columns= dum_cars_miss.columns)

dum_cars_miss.shape
carsImputed.shape
df_carsImputed.shape

(93, 65)

Importing dataset form local host

In [8]:
import numpy as np
milk = pd.read_csv("D:/Statistics (Python)/Datasets/milk.csv",index_col=0)
milk.head()
np.mean(milk), np.std(milk)

(water      78.1840
 protein     6.2120
 fat        10.3080
 lactose     4.1320
 ash         0.8632
 dtype: float64, water      12.558939
 protein     3.578751
 fat        10.305491
 lactose     1.794819
 ash         0.494625
 dtype: float64)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(milk)
milkscaled=scaler.transform(milk)

 OR

In [10]:
milkscaled=scaler.fit_transform(milk)

np.mean(milkscaled[:,0]), np.std(milkscaled[:,0])
np.mean(milkscaled[:,1]), np.std(milkscaled[:,1])
np.mean(milkscaled[:,2]), np.std(milkscaled[:,2])
np.mean(milkscaled[:,3]), np.std(milkscaled[:,3])
np.mean(milkscaled[:,4]), np.std(milkscaled[:,4])

(4.440892098500626e-18, 1.0)

Converting numpy array to pandas

In [11]:
df_milk = pd.DataFrame(milkscaled,columns=milk.columns,
                       index=milk.index)

from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
minmax.fit(milk)
minmaxMilk = minmax.transform(milk)
minmaxMilk[1:5,]

array([[0.95824176, 0.06837607, 0.06097561, 0.86956522, 0.06363636],
       [0.95604396, 0.13675214, 0.04146341, 0.92753623, 0.03636364],
       [0.9978022 , 0.09401709, 0.0097561 , 0.89855072, 0.13636364],
       [1.        , 0.        , 0.08536585, 0.63768116, 0.        ]])

OR

In [12]:
minmaxMilk = minmax.fit_transform(milk)