# t-test

coding: utf-8

In [1]:
"""
Created on Wed Jul  4 15:13:25 2018

@author: ss
"""

'\nCreated on Wed Jul  4 15:13:25 2018\n\n@author: ss\n'

Importing Library as follows

In [2]:
import pandas as pd
from scipy import stats

***Example 1***

Importing dataset form local host

In [3]:
anorexia = pd.read_csv("D:/Statistics (Python)/Datasets/anorexia.csv")

In [4]:
anoCont = anorexia[anorexia.Treat == "Cont"]
anoCont.head()

  Treat  Prewt  Postwt
0  Cont   80.7    80.2
1  Cont   89.4    80.1
2  Cont   91.8    86.4
3  Cont   74.0    86.3
4  Cont   78.1    76.1

In [5]:
stats.ttest_rel(anoCont.Prewt,anoCont.Postwt)

Ttest_relResult(statistic=0.2872253910150255, pvalue=0.7763070622194167)

In [6]:
anoFT = anorexia[anorexia.Treat == "FT"]
anoFT.head()

   Treat  Prewt  Postwt
55    FT   83.8    95.2
56    FT   83.3    94.3
57    FT   86.0    91.5
58    FT   82.5    91.9
59    FT   86.7   100.3

In [7]:
stats.ttest_rel(anoFT.Prewt,anoFT.Postwt)

Ttest_relResult(statistic=-4.184908135290033, pvalue=0.0007002531056005393)

In [8]:
pvalue2tailed = stats.ttest_rel(anoFT.Prewt,anoFT.Postwt)[1]
pvalue1tailed = stats.ttest_rel(anoFT.Prewt,anoFT.Postwt)[1]/2

***Example 2***

Importing dataset form local host

In [9]:
Boston = pd.read_csv("D:/Statistics (Python)/Datasets/Boston.csv")

In [10]:
Boschas0 = Boston[Boston.chas == 0]
Boschas1 = Boston[Boston.chas == 1]

In [11]:
medv0 = Boschas0.iloc[:,13]
medv1 = Boschas1.iloc[:,13]

In [12]:
stats.bartlett(medv0,medv1)

BartlettResult(statistic=6.3155412473961325, pvalue=0.011968420559230059)

In [13]:
stats.ttest_ind(medv0,medv1,equal_var=False)

Ttest_indResult(statistic=-3.113291312794837, pvalue=0.003567170098137517)

In [14]:
pvalue2tailed = stats.ttest_ind(medv0,medv1,equal_var=False)[1]
pvalue1tailed = stats.ttest_ind(medv0,medv1,equal_var=False)[1]/2